body {
  background-image: linear-gradient(to right, #0093e9 0%, #4d2275 100%);
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#root {
  font-family: "Noto Serif", serif;
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  #root {
    width: 80%;
  }
}

#greet {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2rem;
}

#greet > * {
  margin: 10px;
}

#username {
  transition: all 0.3s;
  cursor: pointer;
}

#username:hover {
  transform: scale(1.01);
  color: black;
}

#time {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 3.5em;
  color: white;
}

#todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  /* width: 500px; */
  margin: 0 auto;
}

#todolist > * {
  margin: 1px;
  padding: 10px;
  border-radius: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(41, 40, 40, 0.8);
}

input {
  background-color: transparent;
  border: none;
  text-align: center;
  color: rgb(253, 253, 253);
  outline: none;
  background-color: rgba(144, 135, 135, 0.8);
}

.done + .todo {
  text-decoration: line-through;
  color: grey;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}

.setting-btn {
  background-color: transparent;
  border: none;
  color: white;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: grey !important;
}
