html,
body {
  margin: 0;
  height: 100%;
}

body {
  /* background-image: linear-gradient(to right, #0093e9 0%, #4d2275 100%); */
  background-image: url(./background.jpg);
  background-size: cover;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#root {
  width: 40%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) {
  #root {
    width: 80%;
  }
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: white;
}

#greet {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#greet > * {
  margin: 10px;
}

#username {
  transition: all 0.3s;
  cursor: pointer;
}

#username:hover {
  transform: scale(1.01);
  color: black;
}

#time {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

#todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  margin: 0 auto;
}

#todolist > * {
  margin: 1px;
  padding: 10px;
  border-radius: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(41, 40, 40, 0.8);
}

input {
  border: none;
  text-align: center;
  color: rgb(253, 253, 253);
  outline: none;
  background-color: rgba(144, 135, 135, 0.8);
}

.done + .todo {
  text-decoration: line-through;
  color: grey;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  margin-left: 10px;
}

.setting-btn {
  background-color: transparent;
  border: none;
  border-radius: 20px;
}

.setting-btn:hover {
  background-color: grey;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: grey !important;
}

button:focus {
  outline: 0 !important;
}

/* signup */

.sign-format {
  text-align: center;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-data {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

label {
  margin: 10px;
  color: rgb(56, 55, 55, 0.7);
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

.form-data > input {
  background-color: transparent;
  color: black;
  border-bottom: 0.5px solid rgb(56, 55, 55, 0.7);
}

.submit-btn {
  margin-top: 30px;
  background-color: rgb(56, 55, 55);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
}

.submit-btn:hover {
  background-color: rgb(78, 77, 77);
  cursor: pointer;
}

a {
  color: white;
}
